VITE_ANALYTICS_ENABLED=false
VITE_ANALYTICS_DEBUG=false

# PostHog Project API Key
VITE_POSTHOG_KEY=

# US Cloud: https://us.i.posthog.com
# EU Cloud: https://eu.i.posthog.com
# Self-host: https://your-posthog-domain.com
VITE_POSTHOG_HOST=https://us.i.posthog.com
